<div class="container mt-4">
  <h2 class="mb-3">Transaction ID: {{transaction.id}}</h2>
  <table class="table">
    <thead class="">
      <tr>
        <th>Transaction ID</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{transaction.id}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.memo}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Split ID</th>
        <th>Account</th>
        <th class="text-end">Debit</th>
        <th class="text-end">Credit</th>
      </tr>
    </thead>
    <tbody>
      {{#each split}}
        <tr>
          <td>{{id}}</td>
          <td><a href="/accounts/view/{{number}}">{{name}}</a></td>
          <td class="text-end">{{debit}}</td>
          <td class="text-end">{{credit}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <a href="/transactions/edit/{{transaction.id}}">Edit Transaction</a>
</div>