<div class="container mt-4">
  <h2 class="mb-3">{{account.name}}</h2>
  <table class="table">
    <thead class="">
      <tr>
        <th>Account ID</th>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Account Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{account.id}}</td>
        <td>{{account.name}}</td>
        <td>{{account.number}}</td>
        <td>{{account.type}}</td>
      </tr>
    </tbody>
  </table>
  <p><b>Description</b>: {{account.description}}</p>
  <a href="/accounts/edit/{{account.number}}">Edit Account</a>
</div>